.whoWeAre {
  padding: 4rem 2rem;
  background-color: #fff;
  text-align: center;
}

.cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  padding: 2rem;
  background-color: var(--background-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
@media (min-width: 640px) {
  .cards {
    flex-direction: row;
  }
}

@media (max-width: 639px) {
  .cards {
    flex-direction: column;
  }
}
